# Series
1D data

has an index with integer position and label.

In [19]:
import pandas as pd

In [20]:
trees = ['alder', 'birch', 'cherry', 'douglas fir']

# create series from list

In [21]:
s_trees = pd.Series(trees)
s_trees

0          alder
1          birch
2         cherry
3    douglas fir
dtype: object

In [22]:
s_trees.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
s_trees[2]

'cherry'

In [24]:
s_trees[2:3]

2    cherry
dtype: object

In [25]:
s_trees[2:4]

2         cherry
3    douglas fir
dtype: object

In [26]:
s_trees[:-1]

0     alder
1     birch
2    cherry
dtype: object

In [27]:
names = ['Alma', 'Bob', 'Charlie', 'Donna']

In [28]:
pets = ['dog', 'cat', 'fish', 'dog']

# series with index labels

In [29]:
s_pets = pd.Series(pets, index=names)
s_pets

Alma        dog
Bob         cat
Charlie    fish
Donna       dog
dtype: object

In [30]:
s_pets.index

Index(['Alma', 'Bob', 'Charlie', 'Donna'], dtype='object')

# select series values by index integer position

In [31]:
s_pets[1]

'cat'

# select series values by index label

In [32]:
s_pets['Bob']

'cat'

In [33]:
s_pets['Bob':'Donna']

Bob         cat
Charlie    fish
Donna       dog
dtype: object

In [34]:
s_pets[['Bob', 'Donna']]

Bob      cat
Donna    dog
dtype: object

# index labels do not have to be unique

In [35]:
# swap values and index labels
# https://stackoverflow.com/questions/40146472/quickest-way-to-swap-index-with-values
s_pets = pd.Series(s_pets.index.values, index=s_pets.values)
s_pets

dog        Alma
cat         Bob
fish    Charlie
dog       Donna
dtype: object

In [36]:
s_pets['dog']

dog     Alma
dog    Donna
dtype: object